.container {
    display: flex;
    justify-content: flex-end;
}

#searchForm {
    margin-top: 20px;
}

.navbar {
    justify-content: flex-start;
}

.chosenTopic {
    font-size: 40px;
}

.container2 {
    display: flex;
   
}



#imagesBox {
    
}

.topicButtons {
    padding: 10px;
}
